#graph-area {
  min-height: 600px;
  height: 100%;
  padding-bottom: 20px;
  flaot: left;
  width: 80%;
}

#value-nav {
  padding-right: 0px;
  margin: 10px;
  min-height: 600px;
}

#master-chart {
  height: 100%;
}
