.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: calc(50vw - (70% / 2));
  width: 70%;
  padding: 40px;
}

.autocomplete {
  display: flex;
  height: 30px;
  margin: 15px;
}

.searchButton {
  margin-left: 1rem;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.chip {
  margin: 15px;
}
