html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: url('../../../icons/background.png') no-repeat;
    background-size: auto auto;
    background-position: 150px 170px;
  background-color: #fffdf6;
}


.App {
   text-align: center;
   min-height: 100%;
}
